body{
    background-color:#d3d3d3;
    
}
.wrapper{
    background-color:grey;
    margin: 0 auto;
    width: 80%;
}


nav.navbar.navbar-expand-lg.navbar-light{
    
    background-color: #191919 !important;
    opacity: 0.8;
}
nav.navbar a,nav.navbar li, nav.navbar div{
    color: white !important;
}
.dropdown div{
    background-color: #191919;
}
.dropdown-item:hover{
    background-color: blue;
}

.header{
    height: 200px;
    background-image: url(http://etudiant.lefigaro.fr/stage-emploi/actu/detail/article/correction-de-cv-etudiant-en-ecole-de-commerce-13017/);
    background-size: cover;
    background-position: center;
}